##### import library

In [97]:
import kaos
import seaborn as sns
import pandas as pd
import numpy as np

##### define kmer length

In [2]:
kmer_length = 10

##### Provide fasta file path for each species

In [12]:
file_path_yeast = "/media/abhishek/abhi/dataset/multi species fasta files/yeast/w303_vlte.fasta"
file_path_ecoli = "/media/abhishek/abhi/dataset/multi species fasta files/ecoli/562.5708.fna"
file_path_human = "/media/abhishek/abhi/dataset/multi species fasta files/human/GRCh38_latest_genomic.fna"
file_path_zebra_fish = "/media/abhishek/abhi/dataset/multi species fasta files/Zebrafish/GCF_000002035.6_GRCz11_genomic.fna"
file_path_fruit_fly = "/media/abhishek/abhi/dataset/multi species fasta files/Fruit_fly/GCF_000001215.4_Release_6_plus_ISO1_MT_genomic.fna"
file_path_Nematoda = "/media/abhishek/abhi/dataset/multi species fasta files/Nematoda/GCF_000002985.6_WBcel235_genomic.fna"
file_path_Chimpanzee = "/media/abhishek/abhi/dataset/multi species fasta files/Chimpanzee/GCF_028858775.1_NHGRI_mPanTro3-v1.1-hic.freeze_pri_genomic.fna"
file_path_Gibbon = "/media/abhishek/abhi/dataset/multi species fasta files/Gibbon/GCF_028878055.1_NHGRI_mSymSyn1-v1.1-hic.freeze_pri_genomic.fna"
file_path_Gorilla = "/media/abhishek/abhi/dataset/multi species fasta files/Gorilla/GCF_029281585.1_NHGRI_mGorGor1-v1.1-0.2.freeze_pri_genomic.fna"
file_path_Mouse = "/media/abhishek/abhi/dataset/multi species fasta files/Mouse/GCF_000001635.27_GRCm39_genomic.fna"
file_path_Orangutan = "/media/abhishek/abhi/dataset/multi species fasta files/Orangutan/GCF_028885625.1_NHGRI_mPonPyg2-v1.1-hic.freeze_pri_genomic.fna"

##### obtain the keys of FCGR representation

In [52]:
chaos_game_kmer_array = kaos.kaos_fcgr().chaos_game_representation_key(kmer_length=kmer_length)

In [103]:
chaos_game_kmer_array

array([['CCCCCCCCCC', 'CCCCCCCCCG', 'CCCCCCCCGC', ..., 'GGGGGGGGCG',
        'GGGGGGGGGC', 'GGGGGGGGGG'],
       ['CCCCCCCCCA', 'CCCCCCCCCT', 'CCCCCCCCGA', ..., 'GGGGGGGGCT',
        'GGGGGGGGGA', 'GGGGGGGGGT'],
       ['CCCCCCCCAC', 'CCCCCCCCAG', 'CCCCCCCCTC', ..., 'GGGGGGGGAG',
        'GGGGGGGGTC', 'GGGGGGGGTG'],
       ...,
       ['AAAAAAAACA', 'AAAAAAAACT', 'AAAAAAAAGA', ..., 'TTTTTTTTCT',
        'TTTTTTTTGA', 'TTTTTTTTGT'],
       ['AAAAAAAAAC', 'AAAAAAAAAG', 'AAAAAAAATC', ..., 'TTTTTTTTAG',
        'TTTTTTTTTC', 'TTTTTTTTTG'],
       ['AAAAAAAAAA', 'AAAAAAAAAT', 'AAAAAAAATA', ..., 'TTTTTTTTAT',
        'TTTTTTTTTA', 'TTTTTTTTTT']], dtype='<U10')

##### yeast FCGR matrix

In [5]:
print("length of sequence of yeast is: ",  len(kaos.Read().read_fasta_removing_non_atgc(file_path_yeast)))
fcgr_sequence_yeast = kaos.kaos_fcgr().return_fcgr_matrix(fasta_string= kaos.Read().read_fasta_removing_non_atgc(file_path_yeast), kmer_length = kmer_length,  pseudo_count = True)

length of sequence of yeast is:  12165785

In [8]:
# fcgr_sequence_yeast

##### E.coli FCGR matrix

In [9]:
print("length of sequence of ecoli is: ",  len(kaos.Read().read_fasta_removing_non_atgc(file_path_ecoli)))
fcgr_sequence_ecoli = kaos.kaos_fcgr().return_fcgr_matrix(fasta_string= kaos.Read().read_fasta_removing_non_atgc(file_path_ecoli), kmer_length = kmer_length,  pseudo_count = True)

length of sequence of ecoli is:  5025006

In [104]:
# fcgr_sequence_ecoli

##### Human FCGR matrix

In [11]:
print("length of sequence of human is: ",  len(kaos.Read().read_fasta_removing_non_atgc(file_path_human)))
fcgr_sequence_human = kaos.kaos_fcgr().return_fcgr_matrix(fasta_string= kaos.Read().read_fasta_removing_non_atgc(file_path_human), kmer_length = kmer_length,  pseudo_count = True)

length of sequence of human is:  3136819154

##### Zebra fish FCGR matrix

In [13]:
print("length of sequence of zebra fish is: ",  len(kaos.Read().read_fasta_removing_non_atgc(file_path_zebra_fish)))
fcgr_sequence_zebra_fish = kaos.kaos_fcgr().return_fcgr_matrix(fasta_string= kaos.Read().read_fasta_removing_non_atgc(file_path_zebra_fish), kmer_length = kmer_length,  pseudo_count = True)

length of sequence of zebra fish is:  1674509851

In [ ]:
# fcgr_sequence_zebra

##### Fruit fly FCGR matrix

In [14]:
print("length of sequence of fruit fly is: ",  len(kaos.Read().read_fasta_removing_non_atgc(file_path_fruit_fly)))
fcgr_sequence_fruit_fly = kaos.kaos_fcgr().return_fcgr_matrix(fasta_string= kaos.Read().read_fasta_removing_non_atgc(file_path_fruit_fly), kmer_length = kmer_length,  pseudo_count = True)

length of sequence of fruit fly is:  142573024

In [ ]:
# fcgr_sequence_fruit_fly

##### Nematoda FCGR matrix

In [15]:
print("length of sequence of Nematoda is: ",  len(kaos.Read().read_fasta_removing_non_atgc(file_path_Nematoda)))
fcgr_sequence_Nematoda = kaos.kaos_fcgr().return_fcgr_matrix(fasta_string= kaos.Read().read_fasta_removing_non_atgc(file_path_Nematoda), kmer_length = kmer_length,  pseudo_count = True)

length of sequence of Nematoda is:  100286401

In [ ]:
# fcgr_sequence_Nematoda

##### Chimpanzee FCGR matrix

In [16]:
print("length of sequence of chimpanzee is: ",  len(kaos.Read().read_fasta_removing_non_atgc(file_path_Chimpanzee)))
fcgr_sequence_chimpanzee = kaos.kaos_fcgr().return_fcgr_matrix(fasta_string= kaos.Read().read_fasta_removing_non_atgc(file_path_Chimpanzee), kmer_length = kmer_length,  pseudo_count = True)

length of sequence of chimpanzee is:  3222180001

In [ ]:
# fcgr_sequence_Chimpanzee

##### Gibbon FCGR matrix

In [17]:
print("length of sequence of gibbon is: ",  len(kaos.Read().read_fasta_removing_non_atgc(file_path_Gibbon)))
fcgr_sequence_gibbon = kaos.kaos_fcgr().return_fcgr_matrix(fasta_string= kaos.Read().read_fasta_removing_non_atgc(file_path_Gibbon), kmer_length = kmer_length,  pseudo_count = True)

length of sequence of gibbon is:  3182923132

In [ ]:
# fcgr_sequence_Gibbon

##### Gorilla FCGR matrix

In [18]:
print("length of sequence of gorilla is: ",  len(kaos.Read().read_fasta_removing_non_atgc(file_path_Gorilla)))
fcgr_sequence_gorilla = kaos.kaos_fcgr().return_fcgr_matrix(fasta_string= kaos.Read().read_fasta_removing_non_atgc(file_path_Gorilla), kmer_length = kmer_length,  pseudo_count = True)

length of sequence of gorilla is:  3595314213

##### Mouse FCGR matrix

In [19]:
print("length of sequence of mouse is: ",  len(kaos.Read().read_fasta_removing_non_atgc(file_path_Mouse)))
fcgr_sequence_mouse = kaos.kaos_fcgr().return_fcgr_matrix(fasta_string= kaos.Read().read_fasta_removing_non_atgc(file_path_Mouse), kmer_length = kmer_length,  pseudo_count = True)

length of sequence of mouse is:  2654621783

##### Orangutan FCGR matrix

In [20]:
print("length of sequence of Orangutan is: ",  len(kaos.Read().read_fasta_removing_non_atgc(file_path_Orangutan)))
fcgr_sequence_orangutan = kaos.kaos_fcgr().return_fcgr_matrix(fasta_string= kaos.Read().read_fasta_removing_non_atgc(file_path_Orangutan), kmer_length = kmer_length,  pseudo_count = True)

length of sequence of Orangutan is:  3244861008

##### Put all FCGR in a single dictionery

In [82]:
# Create a nested dictionary
all_species_fcgr = {
    'key': chaos_game_kmer_array,
    'yeast': fcgr_sequence_yeast,
    'ecoli': fcgr_sequence_ecoli,
    'zebra fish' : fcgr_sequence_zebra_fish,
    'fruit fly' : fcgr_sequence_fruit_fly,
    'nematoda' : fcgr_sequence_Nematoda,
    'chimpanzee' : fcgr_sequence_chimpanzee,
    'gibbon': fcgr_sequence_gibbon,
    'gorilla' : fcgr_sequence_gorilla,
    'mouse': fcgr_sequence_mouse,
    'orangutan': fcgr_sequence_orangutan,
    'human' : fcgr_sequence_human
    
}

In [39]:
# fcgr_sequence_yeast.ravel()

##### Put all FCGR in single dictionary with FCGR key

In [99]:
all_species_fcgr_with_key = {
    'key': chaos_game_kmer_array.ravel(),
    'yeast': fcgr_sequence_yeast.ravel(),
    'ecoli': fcgr_sequence_ecoli.ravel(),
    'zebra fish' : fcgr_sequence_zebra_fish.ravel(),
    'fruit fly' : fcgr_sequence_fruit_fly.ravel(),
    'nematoda' : fcgr_sequence_Nematoda.ravel(),
    'chimpanzee' : fcgr_sequence_chimpanzee.ravel(),
    'gibbon': fcgr_sequence_gibbon.ravel(),
    'gorilla' : fcgr_sequence_gorilla.ravel(),
    'mouse': fcgr_sequence_mouse.ravel(),
    'orangutan': fcgr_sequence_orangutan.ravel(),
    'human' : fcgr_sequence_human.ravel()
    
}

#### Convert the dictionary in the dataframe

In [100]:
import pandas as pd
all_species_dataframe = pd.DataFrame(all_species_fcgr_with_key)

In [101]:
all_species_dataframe

,key,yeast,ecoli,zebra fish,fruit fly,nematoda,chimpanzee,gibbon,gorilla,mouse,orangutan,human
0,CCCCCCCCCC,30.0,1.0,46968.0,6113.0,6471.0,39926.0,14019.0,26541.0,149463.0,23693.0,12947.0
1,CCCCCCCCCG,4.0,1.0,886.0,208.0,182.0,6174.0,2379.0,2386.0,12451.0,3363.0,2068.0
2,CCCCCCCCGC,4.0,1.0,613.0,140.0,76.0,4027.0,2514.0,2326.0,6935.0,3130.0,2060.0
3,CCCCCCCCGG,2.0,1.0,247.0,38.0,29.0,1216.0,989.0,514.0,1745.0,783.0,525.0
4,CCCCCCCGCC,2.0,2.0,677.0,163.0,35.0,7369.0,5202.0,4374.0,5985.0,5504.0,4010.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1048571,TTTTTTTATT,400.0,42.0,109899.0,4798.0,4689.0,72310.0,78615.0,76787.0,56460.0,77571.0,79587.0
1048572,TTTTTTTTAA,240.0,6.0,121472.0,5160.0,12184.0,157472.0,146342.0,157034.0,151267.0,163064.0,164269.0
1048573,TTTTTTTTAT,392.0,23.0,102048.0,5885.0,3593.0,53352.0,61640.0,56644.0,50477.0,57651.0,59537.0
1048574,TTTTTTTTTA,510.0,3.0,185513.0,9656.0,10265.0,189095.0,189588.0,190857.0,171830.0,199129.0,201549.0
1048575,TTTTTTTTTT,4148.0,1.0,1027718.0,64004.0,27764.0,3057055.0,3356967.0,2936956.0,1481277.0,3056430.0,3202838.0

In [86]:
all_species_dataframe.set_index('key', inplace=True)

In [87]:
all_species_dataframe

,yeast,ecoli,zebra fish,fruit fly,nematoda,chimpanzee,gibbon,gorilla,mouse,orangutan,human
key,,,,,,,,,,,
CCCCCCCCCC,30.0,1.0,46968.0,6113.0,6471.0,39926.0,14019.0,26541.0,149463.0,23693.0,12947.0
CCCCCCCCCG,4.0,1.0,886.0,208.0,182.0,6174.0,2379.0,2386.0,12451.0,3363.0,2068.0
CCCCCCCCGC,4.0,1.0,613.0,140.0,76.0,4027.0,2514.0,2326.0,6935.0,3130.0,2060.0
CCCCCCCCGG,2.0,1.0,247.0,38.0,29.0,1216.0,989.0,514.0,1745.0,783.0,525.0
CCCCCCCGCC,2.0,2.0,677.0,163.0,35.0,7369.0,5202.0,4374.0,5985.0,5504.0,4010.0
...,...,...,...,...,...,...,...,...,...,...,...
TTTTTTTATT,400.0,42.0,109899.0,4798.0,4689.0,72310.0,78615.0,76787.0,56460.0,77571.0,79587.0
TTTTTTTTAA,240.0,6.0,121472.0,5160.0,12184.0,157472.0,146342.0,157034.0,151267.0,163064.0,164269.0
TTTTTTTTAT,392.0,23.0,102048.0,5885.0,3593.0,53352.0,61640.0,56644.0,50477.0,57651.0,59537.0
TTTTTTTTTA,510.0,3.0,185513.0,9656.0,10265.0,189095.0,189588.0,190857.0,171830.0,199129.0,201549.0
TTTTTTTTTT,4148.0,1.0,1027718.0,64004.0,27764.0,3057055.0,3356967.0,2936956.0,1481277.0,3056430.0,3202838.0

##### Normalize kmer frequency of each species and transform in -np.ln(X) scale

In [88]:
all_species_dataframe_species_wise_normalized = all_species_dataframe.copy()

for i in all_species_dataframe_species_wise_normalized.columns.tolist():
    all_species_dataframe_species_wise_normalized[i] = -np.log(all_species_dataframe_species_wise_normalized[i]/all_species_dataframe_species_wise_normalized[i].sum())
    # print(a[i].sum())

In [89]:
all_species_dataframe_species_wise_normalized

,yeast,ecoli,zebra fish,fruit fly,nematoda,chimpanzee,gibbon,gorilla,mouse,orangutan,human
key,,,,,,,,,,,
CCCCCCCCCC,12.995617,15.619458,10.482191,10.064520,9.658856,11.298866,12.333226,11.816743,9.785159,11.827727,12.398190
CCCCCCCCCG,15.010520,15.619458,14.452695,13.445154,13.229935,13.165547,14.106960,14.225815,12.270407,13.780073,14.232472
CCCCCCCCGC,15.010520,15.619458,14.821047,13.841050,14.103209,13.592872,14.051765,14.251283,12.855627,13.851873,14.236348
CCCCCCCCGG,15.703667,15.619458,15.730024,15.145106,15.066646,14.790327,14.984701,15.760966,14.235453,15.237529,15.603411
CCCCCCCGCC,15.703667,14.926310,14.721741,13.688942,14.878594,12.988612,13.324597,13.619756,13.002951,13.287431,13.570263
...,...,...,...,...,...,...,...,...,...,...,...
TTTTTTTATT,10.405350,11.881788,9.632095,10.306738,9.980967,10.704932,10.609077,10.754398,10.758675,10.641713,10.582203
TTTTTTTTAA,10.916175,13.827698,9.531973,10.234001,9.026063,9.926646,9.987694,10.038971,9.773161,9.898763,9.857549
TTTTTTTTAT,10.425552,12.483963,9.706214,10.102531,10.247199,11.008983,10.852329,11.058647,10.870690,10.938499,10.872456
TTTTTTTTTA,10.162403,14.520845,9.108532,9.607358,9.197447,9.743645,9.728787,9.843909,9.645702,9.698953,9.653022
TTTTTTTTTT,8.066433,15.619458,7.396561,7.715992,8.202447,6.960687,6.854847,7.110305,7.491548,6.967903,6.887261

##### Truncate all number into the 4 digit after decimel

In [93]:
all_species_dataframe_species_wise_normalized = all_species_dataframe_species_wise_normalized.round(4)
all_species_dataframe_species_wise_normalized

,yeast,ecoli,zebra fish,fruit fly,nematoda,chimpanzee,gibbon,gorilla,mouse,orangutan,human
key,,,,,,,,,,,
CCCCCCCCCC,12.9956,15.6195,10.4822,10.0645,9.6589,11.2989,12.3332,11.8167,9.7852,11.8277,12.3982
CCCCCCCCCG,15.0105,15.6195,14.4527,13.4452,13.2299,13.1655,14.1070,14.2258,12.2704,13.7801,14.2325
CCCCCCCCGC,15.0105,15.6195,14.8210,13.8411,14.1032,13.5929,14.0518,14.2513,12.8556,13.8519,14.2363
CCCCCCCCGG,15.7037,15.6195,15.7300,15.1451,15.0666,14.7903,14.9847,15.7610,14.2355,15.2375,15.6034
CCCCCCCGCC,15.7037,14.9263,14.7217,13.6889,14.8786,12.9886,13.3246,13.6198,13.0030,13.2874,13.5703
...,...,...,...,...,...,...,...,...,...,...,...
TTTTTTTATT,10.4053,11.8818,9.6321,10.3067,9.9810,10.7049,10.6091,10.7544,10.7587,10.6417,10.5822
TTTTTTTTAA,10.9162,13.8277,9.5320,10.2340,9.0261,9.9266,9.9877,10.0390,9.7732,9.8988,9.8575
TTTTTTTTAT,10.4256,12.4840,9.7062,10.1025,10.2472,11.0090,10.8523,11.0586,10.8707,10.9385,10.8725
TTTTTTTTTA,10.1624,14.5208,9.1085,9.6074,9.1974,9.7436,9.7288,9.8439,9.6457,9.6990,9.6530
TTTTTTTTTT,8.0664,15.6195,7.3966,7.7160,8.2024,6.9607,6.8548,7.1103,7.4915,6.9679,6.8873

In [95]:
# all_species_dataframe_species_wise_normalized.to_csv("all speceies FCGR in -log(x) scale truncated to four decimel.txt", index=False)

In [ ]:
# pickle.dump(all_species_dataframe_species_wise_normalized, open('all_speceies_fcgr_dataframe.pickle', 'wb'))

In [102]:
# import pickle
# pickle.dump(all_species_dataframe, open('all_species_fcgr_dataframe.pickle', 'wb'))

In [ ]:
# import pickle
# pickle.dump(all_speceies_fcgr_with_key, open('all species fcgr including human.pickle', 'wb'))

In [ ]:
# all_speceies_fcgr